:root {
    --primary-text-color: #212121;
    --title-text-collor: #757575;
    --title-hero-color: #2F303A;
    --primary-white-color: #FFFFFF;
    --akcent-color: #2196F3;
    --logo-color: #000000;
    --section-color: #F5F4FA;
    --adress-link-color: rgba(255, 255, 255, 0.6);
    --active-button-color: #188CE8;
    --border-header-color: #ECECEC;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    --border-works-color: #EEEEEE;
    --color-icon: #AFB1B8;
}

html {
    box-sizing: border-box;  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);

    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    border-bottom: 1px solid var(--border-header-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    margin: 0 auto;
    padding-right: 15px;
}

.box {
    margin: 0 auto;
}

/* Main nav */

.main-nav {
    display: flex;
    align-items: center;
}

.picture {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8)), url('../img/Imgi1.jpeg');
    background-position: center; 
}

/* Logo */

.logo {
     margin-right: 93px; 

    color: var(--logo-color);
    font-family: 'Raleway', sans-serif; 

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.accent {
    color: var(--akcent-color);
}

/* site nav */
.nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--akcent-color);
}

.site-nav .current {
    color: var(--akcent-color);
}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item + .item {
    margin-left: 50px;
}

.auth-nav .link {
    color: var(--title-text-collor);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--akcent-color);
}  

.auth-nav .link::before {
    width: 16px;
    height: 12px;
    content: "";
    margin-right: 10px;
    background-image: url("../img/symbol-defs.svg#icon-email");
}

.site-nav .item + .item {
    margin-left: 50px;
}

/* Hero */

.hero {
    background-color: var(--title-hero-color);
    text-align: center;
    padding: 200px 0;
    list-style: none;
    outline: 2px solid var(--title-hero-color);
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;

    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Section */ 

.section {
    padding-top: 0;
    padding-bottom: 94px;
}
.inner {
    background-color: var(--section-color);
    margin: 0 auto;
    padding-bottom: 94px;
    padding-top: 94px;
}

.section-title {
    padding-top: 0;
    margin-bottom: 50px;
    text-align: center;
    flex-wrap: wrap;

    color: var(--primary-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    
    letter-spacing: 0.03em;
}

/* Aside */

.aside {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.aside .item {
    width: 44px;
    height: 44px;
    gap: 30px;
} 

.aside .link {
    width: 100%;
    height: 100%;
    color: var(--color-icon);
}

.icon-link {
    fill: currentColor;
}

.aside .link:hover,
.aside .link:focus {
    color: var(--border-works-color);
    background-color: var(--akcent-color);
    border-radius: 50%;
}  

.icon:hover {
    color: var(--border-works-color);
} 

.caption {
    padding-top: 94px;
}

.imgs {
    display: flex;
    gap: 30px;
}

/* Visually */

.visually {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
   }   

/* Features */

.feature-list {
    display: flex;
    gap: 30px;
}

.feature-list .item {
    flex-basis: calc((100% - 90px) / 4);
}

.feature-list .title {
    margin-bottom: 10px;

    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
}

.feature-list .text {
    color: var(--title-text-collor);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Work */
.work-list .title {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-list .text {
    color: var(--title-text-collor);

    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-list .item {
    background-color: var(--primary-white-color);
    flex-basis: calc((100% - 90px) / 4);
}

.team {
    gap: 30px;
    display: flex;
} 
.benefits {
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: 1px solid var(--border-works-color);
    border-right: 1px solid var(--border-works-color);
    border-bottom: 1px solid var(--border-works-color); 
    border-radius: 0px 0px 4px 4px;
}

.benefits .title {
    margin-bottom: 10px;
}

/* Button */

.button {
    border: none;
    border-radius: 4px;
    color: var(--primary-white-color);
    background-color: var(--akcent-color);

    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    display: inline-block;
    padding: 10px 32px;  
    box-shadow: 0px 4px 4px var(--box-shadow-color);
    min-width: 216px;
    vertical-align: bottom;
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--active-button-color);
}

.list .button {
    color: var(--primary-text-color);
    background-color: var(--section-color);

    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    display: inline-block;
    border-style: none;
    border: 2px solid var(--section-color);
    padding: 6px 25px;
    min-width: 73px;
    border-radius: 3px;
    vertical-align: bottom;
}

.list .button:hover,
.list .button:focus {
    display: inline-block;
    color: var(--primary-white-color);
    background-color: var(--akcent-color);

    border: 2px solid var(--akcent-color);
    border-radius: 4px;
    }
   
.buttons {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    border: none;
}    

.buttons .item + .item {
    margin-left: 8px;
}

.current {
    justify-content: center;
    display: flex;
    align-items: center;
} 

/* Works */
.works {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.works .title {
    color: var(--primary-text-color);
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.works .text {
    color: var(--title-text-collor);

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.works .item {
     width: calc((100% - 60px) / 3);
    /* width: 370px; */
    /* margin-right: 30px;
    margin-bottom: 30px;   */

    /* background-color: var(--primary-white-color); */

    display: inline-block;
   
    /* border-left: 1px solid var(--border-works-color);
    border-right: 1px solid var(--border-works-color);
    border-bottom: 1px solid var(--border-works-color);  */
    padding-right: auto;
    padding-left: auto;
}

.works .items:hover {
    background-color: linear-gradient(rgba(47, 48, 58, 0.4)) ;
}

.features {
    padding: 20px 24px;
    border-left: 1px solid var(--border-works-color);
    border-right: 1px solid var(--border-works-color);
    border-bottom: 1px solid var(--border-works-color); 
}

.fotos {
    margin-bottom: 4px;
}

.works .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
} 

.works .items {
    text-decoration: none; 
}

/* Customers */

.customers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.customers .item {
    display: flex;
    width: 170px;
    height: 92px;
   
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.customers .link { 
    width: 100%;
    height: 100%;
    color: var(--color-icon);
    background-size: contain;
}

.icon-link {
    fill: currentColor;
}

.customers .link:hover,
.customers .link:focus {
    color: var(--akcent-color);
}  

/* Footer */

.logofooter {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;

    background: var(--title-hero-color);
}

.footer .logo {
    color: var(--primary-white-color);
}

.logo .accent {
    color: var(--akcent-color);
}

.address {
    list-style: none;
}

.address .link {
    color: var(--adress-link-color); 

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.address .link:hover,
.address .link:focus {
    color: var(--akcent-color);
}  

.address .title {
    color: var(--primary-white-color);
   
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.address .item {
    margin-bottom: 9px;
}

.socials {
    margin-top: 0;
    align-items: baseline;
    
    margin-left: 70px;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.socials .title {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon .item {
    display: flex;
    width: 44px;
    height: 44px;
   
}

.footer-icon .link {
    width: 100%;
    height: 100%;
    color: var(--primary-white-color);
}

.icons {
    fill: currentColor;
}

.footer-icon .link:hover,
.footer-icon .link:focus  {
    background-color: var(--akcent-color);
    border-radius: 50%;
}

.box  {
    font-style: normal;
}